ul {
  display:inline;
}

li {
  display: inline-block;
  margin-left: 50px;
}

section {
  background-color: grey;
  width: 100%;
  display: flex;
}

section img {
  margin-bottom: 27.5px;
}

div {
  width: auto;
}

div img {
  margin-left: 25px;
  margin-top: 30px;
}

div h2 {
  display: inline-block;
}

footer div {
  background-color: brown;
}



